.about {
  &__hero {
    background: url('../../assets/images/about-hero.png');
    height: 63.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
  }

  &__heading {
    font-size: 6.4rem;
    text-shadow: 0 4px 8px rgba(black, 0.25);
    color: white;
    position: relative;
    white-space: nowrap;

    @media only screen and (max-width: 37.5em) {
      font-size: 5rem;
    }

    @media only screen and (max-width: 31.25em) {
      font-size: 4rem;
    }

    &::before {
      position: absolute;
      content: '';
      left: 50%;
      height: 4rem;
      width: 20rem;
      top: -3rem;
      transform: translateX(-50%);
      border-top: 1rem solid var(--color-white);
      border-left: 1rem solid var(--color-white);
      border-right: 1rem solid var(--color-white);

      @media only screen and (max-width: 37.5em) {
        width: 15rem;
      }
    }

    &::after {
      position: absolute;
      content: '';
      left: 50%;
      height: 4rem;
      width: 20rem;
      top: 11rem;
      transform: translateX(-50%);
      border-bottom: 1rem solid var(--color-white);
      border-left: 1rem solid var(--color-white);
      border-right: 1rem solid var(--color-white);

      @media only screen and (max-width: 37.5em) {
        top: 7rem;
        width: 15rem;
      }
    }
  }

  &__desc-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 90rem;
    margin: 0 auto;
    background-color: var(--color-black);
    margin-top: -12rem;
    position: relative;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(black, 0.25);

    @media only screen and (max-width: 56.25em) {
      grid-template-columns: 1fr;
      max-width: 60rem;
    }

    @media only screen and (max-width: 37.5em) {
      max-width: 50rem;
    }

    @media only screen and (max-width: 31.25em) {
      max-width: 35rem;
    }

    @media only screen and (max-width: 25em) {
      max-width: 30rem;
    }
  }

  &__desc-img {
    width: 100%;
    height: 100%;
    background: url('../../assets/images/about-description.png');
    background-size: cover;
    background-position: center;

    @media only screen and (max-width: 56.25em) {
      display: none;
    }
  }

  &__description {
    padding: 5rem;

    @media only screen and (max-width: 31.25em) {
      padding: 3rem;
    }

    .paragraph {
      padding-left: 3.5rem;
      padding-top: 5px;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 2px;
        height: 10rem;
        background-color: var(--color-red);
      }
    }
  }

  &__philosophy {
    padding-top: 7rem;
  }

  &__philosophy-container {
    padding: 0 10rem;

    @media only screen and (max-width: 56.25em) {
      padding: 0 5rem;
    }

    @media only screen and (max-width: 31.25em) {
      padding: 0 3rem;
    }

    & > .heading-secondary {
      position: relative;
      &::before {
        @include lineDecorator(-5px, 0, 7rem, 2px);
      }
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 3rem;
  }

  &__team {
    margin: 10rem 0;

    &-container {
      padding: 0 10rem;

      @media only screen and (max-width: 56.25em) {
        padding: 0 5rem;
      }

      @media only screen and (max-width: 31.25em) {
        padding: 0 3rem;
      }
    }

    .heading-secondary {
      text-align: center;
      position: relative;
      margin-bottom: 7rem;

      &::before {
        @include lineDecorator(-5px, 50%, 10rem, 2px);
        transform: translateX(-50%);
      }
    }
  }

  &__team-avatars {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17.7rem, 1fr));
    gap: 4rem 8.6rem;
    align-items: center;
  }
}
