.input {
  &__container {
    display: grid;
    grid-template-rows: auto 1fr;
    width: 100%;
    gap: 1rem;
  }

  &__input {
    border: none;
    padding: 1rem 2rem;
    font-size: 1.8rem;
    background-color: var(--color-white);
    color: var(--color-black);

    &:focus {
      outline: none;
    }
  }

  &__label {
    color: var(--color-white);
    font-size: 1.8rem;
    font-weight: 700;
  }
}

.radio {
  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: 0.5em;
  font-size: 1.8rem;
  color: var(--color-white);
  width: fit-content;

  &__input {
    display: flex;

    input:checked + .radio__control {
      background-color: currentColor;
    }

    input {
      opacity: 0;
      width: 0;
      height: 0;

      &:focus + .radio__control {
        box-shadow: 0 0 0 0.05em #fff, 0 0 0.15em 0.1em currentColor;
      }
    }
  }

  &__label {
    line-height: 1;
    transition: 180ms all ease-in-out;
  }

  &__control {
    display: block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: 0.1em solid currentColor;
    transform: translateY(-0.05em);
    cursor: pointer;
  }
}
