.card-philosophy {
  background-color: var(--color-black-2);
  padding: 4rem;
  box-shadow: 0 4px 8px rgba(black, 0.25);
  display: grid;
  grid-template-rows: repeat(2, 4rem) 7rem 1fr;

  &__icon {
    align-self: flex-end;
  }

  .heading-tertiary {
    position: relative;

    &:before {
      @include lineDecorator(4.5rem, 0, 4rem, 2px);
    }
  }
}

.card {
  background-color: var(--color-black-2);
  box-shadow: 0 4px 8px rgba(black, 0.25);

  &__img-container {
    height: 20rem;
    overflow: hidden;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__details {
    padding: 3rem;
    display: grid;
    grid-template-rows: auto minmax(13rem, max-content) 1fr;
    gap: 2rem;

    .btn {
      width: fit-content;
    }
  }
}

.card-work {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 28rem auto 1fr;

  .paragraph {
    color: var(--color-dark-grey);
  }

  &__img-container {
    overflow: hidden;
    height: 28rem;
  }

  &__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__description {
    color: var(--color-white);
    font-size: 1.8rem;
  }

  &__details {
    display: grid;
    grid-template-rows: 5rem 3rem 1fr;
    gap: 2rem;
    margin: 3rem 0;
  }

  &__button-container {
    display: flex;
    align-items: flex-end;
  }
}
