.card-philosophy {
  background-color: var(--color-black-2);
  padding: 4rem;
  box-shadow: 0 4px 8px rgba(black, 0.25);
  display: grid;
  grid-template-rows: repeat(2, 4rem) 7rem 1fr;

  &__icon {
    align-self: flex-end;
  }

  .heading-tertiary {
    position: relative;

    &:before {
      @include lineDecorator(4.5rem, 0, 4rem, 2px);
    }
  }
}
