.not-found {
  &__container {
    padding: 15rem 10rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 4rem;

    @media only screen and (max-width: 56.25em) {
      padding: 10rem 5rem;
    }

    @media only screen and (max-width: 31.25em) {
      grid-template-columns: 1fr;
    }

    @media only screen and (max-width: 25em) {
      padding: 10rem 3rem 5rem 3rem;
    }
  }

  &__heading {
    color: var(--color-white);
    font-size: 10rem;

    @media only screen and (max-width: 31.25em) {
      font-size: 5rem;
    }
  }

  .heading-secondary {
    @media only screen and (max-width: 31.25em) {
      font-size: 2.8rem;
    }
  }

  &__img-container {
    justify-self: flex-end;

    img {
      margin-top: 5rem;
      width: 100%;
    }
  }
}
