.case-details {
  .hero {
    overflow: hidden;
    min-height: 70rem;

    &__container {
      padding: 15rem 10rem 0rem 10rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      @media only screen and (max-width: 56.25em) {
        padding: 14rem 5rem 5rem 5rem;
      }

      @media only screen and (max-width: 31.25em) {
        grid-template-columns: 1fr;
        gap: 4rem;
      }

      @media only screen and (max-width: 25em) {
        padding: 14rem 3rem 5rem 3rem;
      }

      .heading-secondary {
        position: relative;

        @media only screen and (max-width: 56.25em) {
          font-size: 3rem;
        }

        @media only screen and (max-width: 31.25em) {
          max-width: 30rem;
        }

        @media only screen and (max-width: 25em) {
          max-width: 25rem;
        }

        &:before {
          @include lineDecorator(-5px, 0, 7rem, 2px);
        }
      }
    }

    &__label {
      color: var(--color-dark-grey);
      font-weight: 700;
      letter-spacing: 3px;
      display: block;
    }

    &__preview {
      position: relative;
    }

    &__preview-img {
      position: absolute;
      left: 10rem;
      top: 0;
      z-index: 5;
      box-shadow: 0 4px 4px rgba(black, 0.25);

      @media only screen and (max-width: 56.25em) {
        width: 50rem;
      }

      @media only screen and (max-width: 31.25em) {
        width: 40rem;
        position: relative;
        left: 5rem;
      }
    }
  }
}

.summary {
  background-color: var(--color-black-2);
  margin-top: -17rem;

  @media only screen and (max-width: 31.25em) {
    margin-top: -10rem;
  }

  &__container {
    padding: 10rem;

    @media only screen and (max-width: 56.25em) {
      padding: 10rem 5rem;
    }

    @media only screen and (max-width: 25em) {
      padding: 10rem 3rem;
    }
  }

  &__details {
    padding-left: 2.5rem;
    border-left: 2px solid var(--color-red);
    max-width: 80rem;
  }
}

.deliver-tech {
  &__container {
    padding: 5rem 10rem 10rem 10rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 5rem;

    @media only screen and (max-width: 56.25em) {
      padding: 5rem 5rem 10rem 5rem;
    }

    @media only screen and (max-width: 25em) {
      padding: 5rem 3rem 10rem 3rem;
    }
  }

  &__lists {
    padding-left: 1.2rem;
  }

  &__list {
    color: var(--color-dark-grey);

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }
}
